extends layout
block script
  script(type='text/javascript', src='/javascripts/tinycolorpicker.min.js')
  script(src='https://www.gstatic.com/firebasejs/3.6.3/firebase.js')
  script(src='/javascripts/client_upload.js')

block content
  .mdl-layout.mdl-js-layout
    header.mdl-layout__header
    .mdl-grid.form-container
        form.params-form.mdl-cell.mdl-cell--12-col(action='/upload', method='POST', enctype="multipart/form-data")
          input(type='hidden', name='bucketName', value=configObj.bucketName)
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='text', name='companyName', value=configObj.companyName)
            label.mdl-textfield__label Company name
          br
          .mdl-textfield.mdl-js-textfield.mdl-textfield--file
            input.mdl-textfield__input(placeholder='Company logo', type='text', readonly, value=configObj.companyLogo)
            .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
              i.material-icons attach_file
              input(type='file', name='companyLogo', onchange='showFileName(this)')
          br
          .mdl-textfield.mdl-js-textfield.mdl-textfield--file
            input.mdl-textfield__input(placeholder='Homescreen icon', type='text', readonly, value=configObj.homescreenIcon)
            .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
              i.material-icons attach_file
              input(type='file', name='homescreenIcon', onchange='showFileName(this)')
          br
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='text', name='heroText', value=configObj.heroText)
            label.mdl-textfield__label Hero text
          br
          .mdl-textfield.mdl-js-textfield.mdl-textfield--file
            input.mdl-textfield__input(placeholder='Hero image', type='text', readonly, value=configObj.heroImage)
            .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
              i.material-icons attach_file
              input(type='file', name='heroImage', onchange='showFileName(this)')
          br
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='text', name='subText', value=configObj.subText)
            label.mdl-textfield__label Sub-text
          br
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='text', name='ctaText', value=configObj.ctaText)
            label.mdl-textfield__label Call-to-action text
          br
          label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='uploadImage')
            input#uploadImage.mdl-checkbox__input(type='checkbox', onchange='toggleUploadImageField(this)')
            span.mdl-checkbox__label Upload image to pick colors
          br
          #fileForPicker(style='display: none;')
            .mdl-textfield.mdl-js-textfield.mdl-textfield--file
              input.mdl-textfield__input(placeholder='File for color picker', type='text', readonly)
              .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
                i.material-icons attach_file
                input(type='file', onchange='showFileName(this), uploadFile(this)')
          br
          #colorsBlock
            #imageContainer.image-container

            #primaryFgColorWrapper.colorPicker-wrapper
              label.mdl-textfield__label Primary foreground color
              input#primaryFgColorPickerInput(type='color', name='primaryFgColor', value=configObj.primaryFgColor)
            #primaryBgColorWrapper.colorPicker-wrapper
              label.mdl-textfield__label Primary background color
              input#primaryBgColorPickerInput(type='color', name='primaryBgColor', value=configObj.primaryBgColor)
            #secondaryFgColorWrapper.colorPicker-wrapper
              label.mdl-textfield__label Secondary foreground color
              input#secondaryFgColorPickerInput(type='color', name='secondaryFgColor', value=configObj.secondaryFgColor)
            #secondaryBgColorWrapper.colorPicker-wrapper
              label.mdl-textfield__label Secondary background color
              input#secondaryBgColorPickerInput(type='color', name='secondaryBgColor', value=configObj.secondaryBgColor)
          br
          input.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(type='submit', value='Submit')





